.unique-bg-container {
    padding: 20px;
}

.unique-card-content {
    border-radius: 2px;
    border: 2px solid #4A90E2;
    display: flex;
    flex-direction: column;
}

.unique-input-size {
    width: 80%;
    height: 30px;
}

.unique-card-one {
    background-color: #A0D7E1;
    display: flex;
    order: 1;
    padding: 20px;
}

.unique-radio-check {
    height: 30px;
}

.unique-card-two {
    background-color: #6A7CBA;
    height: 50px;
    order: 2;
}

.unique-card-three {
    background-color: #B2E1F0;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
}

.unique-card-four {
    display: flex;
    flex-direction: column;
    order: 6;
}

.unique-feature-one {
    text-align: center;
    background-color: #F4B400;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}

.unique-feature-two {
    text-align: center;
    background-color: #D95F2D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    order: 3;
}

.unique-feature-three {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C76DCA;
    width: 100%;
    height: 20vh;
    order: 4;
}

.unique-feature-four {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90D5D4;
    width: 100%;
    height: 20vh;
    order: 1;
}

.unique-card-six {
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #F2E4F5;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .unique-bg-container {
        padding: 20px;
    }

    .unique-card-content {
        border-radius: 2px;
        border: 2px solid #4A90E2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .unique-input-size {
        width: 80%;
        height: 30px;
    }

    .unique-card-one {
        background-color: #A0D7E1;
        display: flex;
        order: 1;
        padding: 20px;
    }

    .unique-radio-check {
        height: 30px;
    }

    .unique-card-two {
        background-color: #6A7CBA;
        height: 50px;
        order: 2;
    }

    .unique-card-three {
        background-color: #B2E1F0;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 3;
    }

    .unique-card-four {
        display: flex;
        flex-direction: row;
        order: 4;
        flex-wrap: wrap;
    }

    .unique-feature-one {
        text-align: center;
        background-color: #F4B400;
        width: 33.33%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .unique-feature-two {
        text-align: center;
        background-color: #D95F2D;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        order: 2;
    }

    .unique-feature-three {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C76DCA;
        width: 33.33%;
        height: 20vh;
        order: 3;
    }

    .unique-feature-four {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #90D5D4;
        width: 100%;
        height: 20vh;
        order: 4;
    }

    .unique-card-six {
        order: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: #F2E4F5;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .unique-bg-container {
        padding: 20px;
    }

    .unique-card-content {
        border-radius: 2px;
        border: 2px solid #4A90E2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .unique-input-size {
        width: 80%;
        height: 30px;
    }

    .unique-card-one {
        background-color: #A0D7E1;
        display: flex;
        order: 1;
        padding: 20px;
    }

    .unique-radio-check {
        height: 30px;
    }

    .unique-card-two {
        background-color: #6A7CBA;
        height: 50px;
        order: 2;
    }

    .unique-card-three {
        background-color: #B2E1F0;
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 3;
    }

    .unique-card-four {
        display: flex;
        flex-direction: row;
        order: 6;
        flex-wrap: wrap;
    }

    .unique-feature-one {
        text-align: center;
        background-color: #F4B400;
        width: 50%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .unique-feature-two {
        text-align: center;
        background-color: #D95F2D;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        order: 3;
    }

    .unique-feature-three {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C76DCA;
        width: 50%;
        height: 20vh;
        order: 4;
    }

    .unique-feature-four {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #90D5D4;
        width: 50%;
        height: 20vh;
        order: 1;
    }

    .unique-card-six {
        width: 100%;
        height: 300px;
        order: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2E4F5;
    }
}
